<h1>Convert Address to Geocodes</h1>

<form action="http://localhost:3000/convert">
  <div>
    <label for="the_address">Address:</label>
    <input id="the_address" type="text" name="address">
  </div>
  <div>
    <input type="submit" value="Get Geocodes">
  </div>
</form>
